@import "tailwindcss";

@theme {
  --color-owl-50: #f0f9ff;
  --color-owl-100: #e0f2fe;
  --color-owl-500: #0ea5e9;
  --color-owl-600: #0284c7;
  --color-owl-700: #0369a1;
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar-track-transparent::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thumb-slate-200::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
    border-radius: 9999px;
  }

  .scrollbar-thumb-slate-200::-webkit-scrollbar-thumb:hover {
    background-color: #cbd5e1;
  }
}